<div class='container-collection'>
    {{#each albums}}
    <div class='container-elemnent'>
        <img src='{{images.1.url}}' alt='{{name}}'>
        <h3>{{name}}</h3>
        <p>Date: {{release_date}}</p>
        <a href='/tracks/{{id}}'>
            <button class='btn'></button>
        </a>
    </div>
    {{/each}}
</div>